<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>班级信息</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<table class="table table-bordered table-striped" style="width:88%;margin:0 auto">
    {% load demo %}
    <tr>
        <th>id</th>
        <th>所带年级</th>
        <th>班级名称</th>
        <th>代课老师</th>
        <th>所带课程</th>
        <th>操作</th>
    </tr>
    {% if data %}
        {% for item in data %}
            <tr>
                <td>{{ item.cid }}</td>
                <td>{{item.gname}}</td>
                <td>{{ item.cname }}</td>
                <td>
                    {% for item1 in item.tnames|abc  %}
                            {{item1}}
                    {% endfor %}
                    <!--{{item.tnames}}-->
                </td>
                <td>
                    {% for item1 in item.pnames|abc  %}
                            {{item1}}
                    {% endfor %}
                    <!--{{item.pnames}}-->
                </td>
                <td>
                    <button type="button" class="btn btn-success"><a href="/del2?cid={{item.cid}}">删除</a></button>
                    <button type="button" class="btn btn-success"><a href="/class-edit2?cid={{ item.cid }}">编辑</a></button>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr><td>not found</td></tr>
    {% endif %}
    <tr>
        <td colspan="6">
            <button type="button" class="btn btn-danger"><a href="/class-add2">添加</a></button>
        </td>
    </tr>
</table>
</body>
</html>